
--------------------------------------------------------------------------
Base styles:
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

html {
	font-size: 15px;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}

article {
  background-color: #ffffff;
  max-width: 80%;
  padding-bottom: 50px;
  padding-bottom: 50px;

}

article p {
  padding-left: 20px;
  padding-right: 20px;

}



article h3 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;

}


body {
  font-family:'Roboto', sans-serif; ;
  background-color: white;
  color: black;
  margin: 0;
  letter-spacing: .02em;
  text-align: center;
}

P{
  text-transform: lowercase;
}
h2 {
  color: #007db8;
  text-transform: uppercase;
}
h3 {
  color: #007db8;
  text-transform: uppercase;
}
h4 {
  color: #007db8;
  text-transform: uppercase;
}
a {
	text-decoration: none;
	color: Yellow;
	font-weight: 600;
	transition: all .3s ease-in-out;
}

a:hover {
	color: #44545E;
}

/* ----------------------------------------
Buttons
------------------------------------------- */
button,
article a {
	cursor: pointer;
	outline: 0;
	border: 1px solid #007db8;
	color: #007db8;
	padding: 8px 50px;
	background-color: transparent;
	border-radius: 0;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1.2px;
	transition: all .3s ease-in-out;

}


button:hover,
article a:hover {
	background-color: #black;
	color: green;
	font-weight: 600;
}



/* ----------------------------------------
Header
------------------------------------------- */
header {
	padding-top: 30px;
	background-image: url("../img/GettyImages-577155315.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
  height: 100vh;
  min-height: 200px;
	display: flex;
  color: white;
	flex-direction: column;
	justify-content: center;
  max-height: 60%;


}

header h1 {
  text-align: left;
  margin-left: 200px;
  font-size: 70px;
  padding-top: 200px;
}

header h2 {
  text-align: left;
  margin-left: 200px;
  font-size: 30px;
}

nav {
	background-color: white;
	width: 100%;
  position: fixed;
	top: 0;
	z-index: 100;
	padding: 20px 0;

}

nav a {
	font-weight: 600;
	letter-spacing: 0.75px;
	padding: 0 30px;
	text-transform: uppercase;
}

.hamburger {
	font-size: 30px;
	display: none;
}

h1 a,
h1 a:hover,
header h2 {
	color: #fff;
}


/* ----------------------------------------
Layout
------------------------------------------- */
.article-grid,
.gallery-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap:10px;
  text-align: left;
  justify-content: center;
  padding-left: 220px;
  padding-right: 220px;
  background-color: #eeeeee;

}

section {
	padding: 105px 30px;
}


img {
	max-width: 100%;
}

/* ----------------------------------------
aboutus
------------------------------------------- */
.aboutus {
	background-color: white;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: left;
}


.aboutus p {
	max-width: 780px;
	margin-left: 20px;
	margin-right: auto;
  color: #212121;
  text-align: left;

}

.aboutus h2 {
  margin-left: 20px;
  color: #212121;
  text-align: left;

}

.aboutus h3 {
  margin-left: 20px;
  color: #212121;
  text-align: left;

}

.aboutus a {
  margin-left: 20px;
  color: #007db8;
  text-align: left;

}

.aboutus img {
  margin-right: 20px;
  max-width: 40%;
  padding-left: 800px;

}

/* ----------------------------------------
Footer
------------------------------------------- */
footer {
	background-color: #eeeeee;
	overflow: auto;
	padding-top: 30px;

}

footer a {
	font-size: 30px;
	padding: 15px;
	margin-bottom: 30px;
	display: inline-block;
	color: #eeeeee;
}

hr {
	/*First remove the default ugly border the browser adds! Yuck*/
	border: none;
	/* Now add your own border to the top or bottom */
	border-bottom: 2px solid #44545E;
	margin: 34px 0 3px;
}

footer input {
	padding: 11px 10px;
	width: 300px;
	margin-right: 30px;
	border: 0;
	text-align: center;
	margin-bottom: 12px;
	outline: 0;
}


::-webkit-input-placeholder {
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   font-size: 12.299px;
   font-weight: 600;
}

:-moz-placeholder { /* Firefox 18- */
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   font-size: 12.299px;
   font-weight: 600;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   font-size: 12.299px;
   font-weight: 600;
}

:-ms-input-placeholder {
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   font-size: 12.299px;
   font-weight: 600;
}



/* ----------------------------------------
Responsive styles
------------------------------------------- */

@media screen and (max-width: 1000px) {

	.gallery-grid {
		grid-gap: 15px;
	}

	.article-grid {
		grid-template-columns: 1fr;
		max-width: 650px;
		margin: 0 auto 30px auto;
	}

}

@media screen and (max-width: 760px) {
	.page-links {
		display: none;
	}

	.hamburger {
		display: block;
		text-align: left;
	}
}

@media screen and (max-width: 480px) {
	footer input,
	footer button {
		display: block;
		width: 90%;
		margin: 0 auto 20px auto;
	}
