@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i|Spectral:400,400i');


  header {
  	padding-top: 0px;
  	background-color: #fcee21;
  	background-size: cover;
  	background-position: center;
  	height: 200px;
  	margin-bottom: 48px;
  }

header div a {
   padding-left: 200px;

 }

  a {
  font-style: open-sans;
  font-size: 16px
  text-transform: uppercase;
}


h1 {
  padding-top: 50px;
 padding-left: 400px;
  Font-size: 40px;
  font-family:open-sans;
}

h2 {
  text-align: center;
  Font-size: 22px;
  font-family:open-sans;

}

h3 {
  text-align: center;
  Font-size: 26px;
  font-family: spectral;
}

p {
font-family: spectral;
}

img {
  display: block;
  margin: 0 auto;
}
section {
	width: 70%;
	text-align: left;
}



footer {
	background-color: #fcee21;
	overflow: auto;
}

footer .wrap {
	padding: 30px 15px;
}
